@charset "UTF-8";
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
.loginBack {
  margin-top: 80px;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginBack .loginBox {
  width: 48vw;
  height: 55vh;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(145, 145, 145, 0.05), 0 4px 8px rgba(145, 145, 145, 0.05), 0 6px 12px rgba(145, 145, 145, 0.05), 0 12px 24px rgba(145, 145, 145, 0.05);
  border-radius: 12px;
  text-align: center;
  position: relative;
}
.loginBack .loginBox .loginAni {
  cursor: auto;
}
.loginBack .loginBox .loginAni > img {
  margin: 110px auto 0;
  transform: rotate(70deg);
}
.loginBack .loginBox > div {
  width: 40%;
  margin: 0px auto 0;
  cursor: pointer;
}
.loginBack .loginBox div:nth-of-type(2) {
  margin-top: 35px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}
.loginBack .loginBox div:nth-of-type(2) img {
  transition: 0.2s;
  max-width: 350px;
}
.loginBack .loginBox div:nth-of-type(2) img:hover {
  transform: translateY(-5px);
}
.loginBack .loginBox div:nth-of-type(2) img:active {
  transform: translateY(0px);
}
.loginBack .loginBox > img {
  transition: 0.3s;
}
.loginBack .loginBox .guestBox {
  font-size: 20px;
  color: #eff2f3;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.loginBack .loginBox .guestBox .googleBtn {
  background-color: white;
  color: #2288ff;
  box-shadow: 1px 3px 5px rgb(201, 207, 209);
}
.loginBack .loginBox .guestBox .googleBtn:hover {
  transform: translateY(-3px);
  color: #2288ff;
}
.loginBack .loginBox .guestBox span {
  width: 280px;
  background-color: #2288ff;
  display: inline-block;
  border-radius: 24px;
  padding: 9px 60px;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 1px 3px 5px rgb(155, 162, 165);
}
.loginBack .loginBox .guestBox span:hover {
  transform: translateY(-3px);
  color: #eff2f3;
}
.loginBack .loginBox .guestBox span:active {
  transform: translateY(0px);
}
.loginBack .loginBox .guestBox svg {
  margin-right: 5px;
}

/* ============================================================== */
@media (min-width: 768px) and (max-width: 1023px) {
  .loginBack {
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginBack .loginBox {
    width: 70vw;
    height: 55vh;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(145, 145, 145, 0.05), 0 4px 8px rgba(145, 145, 145, 0.05), 0 6px 12px rgba(145, 145, 145, 0.05), 0 12px 24px rgba(145, 145, 145, 0.05);
    border-radius: 12px;
    text-align: center;
  }
  .loginBack .loginBox .loginAni > img {
    margin: 110px auto 0;
    transform: rotate(70deg);
  }
  .loginBack .loginBox > div {
    width: 40%;
    margin: 30px auto 0;
    cursor: pointer;
  }
  .loginBack .loginBox .guestBox {
    font-size: 18px;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .loginBack .loginBox .guestBox span {
    width: 240px;
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
  }
  .loginBack .loginBox .guestBox span:hover {
    transform: translateY(-3px);
  }
  .loginBack .loginBox .guestBox span:active {
    transform: translateY(0px);
  }
}
@media (max-width: 767px) {
  .loginBack {
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginBack .loginBox {
    width: 70vw;
    height: 55vh;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(145, 145, 145, 0.05), 0 4px 8px rgba(145, 145, 145, 0.05), 0 6px 12px rgba(145, 145, 145, 0.05), 0 12px 24px rgba(145, 145, 145, 0.05);
    border-radius: 12px;
    text-align: center;
  }
  .loginBack .loginBox .loginAni > img {
    margin: 90px auto 0;
    transform: rotate(70deg);
  }
  .loginBack .loginBox > div {
    width: 40%;
    margin: 20px auto 0;
    cursor: pointer;
  }
  .loginBack .loginBox .guestBox {
    font-size: 16px;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginBack .loginBox .guestBox span {
    width: 200px;
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
  }
  .loginBack .loginBox .guestBox span:hover {
    transform: translateY(-3px);
  }
  .loginBack .loginBox .guestBox span:active {
    transform: translateY(0px);
  }
}
@media (max-width: 479px) {
  .loginBack {
    margin-top: 80px;
    width: 100%;
    height: 70vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginBack .loginBox {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(145, 145, 145, 0.05), 0 4px 8px rgba(145, 145, 145, 0.05), 0 6px 12px rgba(145, 145, 145, 0.05), 0 12px 24px rgba(145, 145, 145, 0.05);
    border-radius: 12px;
    text-align: center;
  }
  .loginBack .loginBox .loginAni > img {
    width: 100px;
    height: 100px;
    margin: 140px auto 0;
    transform: rotate(70deg);
  }
  .loginBack .loginBox > div {
    width: 40%;
    margin: 50px auto 0;
    cursor: pointer;
  }
  .loginBack .loginBox .guestBox {
    font-size: 16px;
    cursor: default;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  .loginBack .loginBox .guestBox span {
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
  }
  .loginBack .loginBox .guestBox span:hover {
    transform: translateY(-3px);
  }
  .loginBack .loginBox .guestBox span:active {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=login.module.css.map */