.fullBox {
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard-Regular";
  background-color: #f1f1f1;
  color: #3b3d3f;
}
.fullBox .topBox {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e5f1fc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullBox .topBox .textBox {
  text-align: center;
  transform: translateY(-50%);
  color: #3b3d3f;
}
.fullBox .topBox .textBox p:first-child {
  font-size: 4rem;
  font-weight: bold;
}
.fullBox .topBox .textBox p:last-child {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 1%;
}
.fullBox .topBox .topImgBox {
  position: absolute;
  bottom: 0;
  width: 90vw;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fullBox .topBox .topImgBox div {
  background-color: white;
  border-radius: 16px;
  width: 15%;
  min-width: 100px;
  max-width: 170px;
  padding: 20px;
  display: block;
}
.fullBox .topBox .topImgBox div:first-child {
  transform: translateY(-100%) rotate(6deg);
}
.fullBox .topBox .topImgBox div:nth-of-type(2) {
  transform: translateY(25%) rotate(-8deg);
}
.fullBox .topBox .topImgBox div:nth-of-type(3) {
  transform: translateY(-75%) rotate(2deg);
}
.fullBox .topBox .topImgBox div:nth-of-type(4) {
  transform: translateY(25%) rotate(10deg);
}
.fullBox .topBox .topImgBox div:last-child {
  transform: translateY(-100%) rotate(-5deg);
}
.fullBox .bottomBox {
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3b3d3f;
}
.fullBox .bottomBox .bottomMainBox {
  max-width: 1200px;
  width: 70vw;
  height: 65vh;
  background-color: white;
  border-radius: 24px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 2px 5px rgb(224, 224, 224);
}
.fullBox .bottomBox .bottomMainBox .b_textBox {
  display: flex;
  align-items: center;
}
.fullBox .bottomBox .bottomMainBox .b_textBox .checkIWrap {
  width: 35px;
  height: 35px;
  margin: 0;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullBox .bottomBox .bottomMainBox .b_textBox .mainText {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}
.fullBox .bottomBox .bottomMainBox .cardBox {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fullBox .bottomBox .bottomMainBox .cardBox .selectCard {
  background-color: rgba(231, 245, 253, 0.5333333333);
  width: 30%;
  height: 32vh;
  padding: 3% 4%;
  border-radius: 16px;
  box-shadow: 1px 2px 4px rgb(214, 214, 214);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
.fullBox .bottomBox .bottomMainBox .cardBox .selectCard .cardTitle {
  display: flex;
  align-items: center;
}
.fullBox .bottomBox .bottomMainBox .cardBox .selectCard .cardTitle .b_iconWrap {
  width: 36px;
  height: 36px;
  background-color: rgba(177, 219, 253, 0.9607843137);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.fullBox .bottomBox .bottomMainBox .cardBox .selectCard .cardTitle p {
  font-weight: bold;
  font-size: 1.65rem;
  margin: 0;
}
.fullBox .bottomBox .bottomMainBox .cardBox .selectCard .cardContent {
  font-size: 1.5rem;
  font-weight: bold;
  color: #727375;
}
.fullBox .bottomBox .bottomMainBox .cardBox .selectCard .cardContent p:nth-of-type(2) {
  margin-top: 10px;
  font-size: 1rem;
}
.fullBox .bottomBox .bottomMainBox .cardBox .selectCard .btnPositionBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.fullBox .bottomBox .bottomMainBox .cardBox .selectCard button {
  width: 130px;
  height: 42px;
  border-radius: 24px;
  background-color: #2288ff;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 1px 2px 4px rgb(214, 214, 214);
  cursor: pointer;
}/*# sourceMappingURL=generate.module.css.map */