@import "../../styles/variable";
.fullBox {
  width: 100%;
  // height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard-Regular";
  background-color: rgb(250, 250, 250);
  color: $bascitFtcolor;
  .topBox {
    width: 100%;
    height: 100vh;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $mainColor;
    display: flex;
    align-items: center;
    justify-content: center;
    .topContentBox {
      max-width: 1200px;
      width: 70vw;
      display: flex;
      align-items: center;
    }

    .textBox {
      font-size: 4rem;
      font-weight: bold;
      color: white;
      // background-color: red;
      width: 50%;

      & p:nth-of-type(2) {
        font-size: 2rem;
        // margin-top: 10px;
      }
    }

    .imgBox {
      width: 50%;
      height: 60vh;
      // background-color: rgba(255, 255, 255, 0.137);
      display: flex;
      flex-direction: column;
      align-items: center;
      .topImgBox {
        width: 225px;
        height: 225px;
        background-color: white;
        border-radius: 16px;
        box-shadow: $grayBGshadow;
        padding: 20px;
      }

      & div:nth-of-type(1) {
        transform: translate(-80%, 20%);
      }
      & div:nth-of-type(2) {
        transform: translate(100%, -35%);
      }
      & div:nth-of-type(3) {
        transform: translate(-40%, -10%);
      }
    }
  }

  .bottomBox {
    width: 70vw;
    max-width: 1200px;
    min-height: 100vh;
    margin: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $bascitFtcolor;

    .b_textBox {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 60px;

      div {
        display: flex;
        flex-direction: column;
      }
      & p:nth-of-type(1) {
        font-size: 2.2rem;
        font-weight: bold;
        color: $bascitFtcolor;
        margin-bottom: 5px;
      }
      & p:nth-of-type(2) {
        font-size: 1.4rem;
        font-weight: bold;
        color: $softGRAYFtColor;
      }
    }
    .top3ImgBox {
      width: 70vw;
      max-width: 1200px;
      // background-color: white;
      border-radius: 20px;
      // padding: 0 60px;
      min-height: 50vh;
      // box-shadow: $grayBGshadow;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .imgBox {
      width: 28%;
      min-width: 200px;
      margin: 0 15px;
      // height: 35vh;
      // background-color: rgba(245, 119, 140, 0.87);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s;

      &:nth-child(1) {
        .rank {
          background-color: #fdbc16;
        }
      }

      &:nth-child(2) {
        transform: scale(1.2);
        .rank {
          background-color: #ff3d6b;
          font-size: 2rem !important;
        }
        &:hover {
          transform: scale(1.2) translateY(-8px);
        }
      }

      &:nth-child(3) {
        .rank {
          background-color: #2288ff;
        }
      }

      .imgWrap {
        width: 100%;
        // max-width: 400px;
        height: 100%;
        // background-color: yellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        cursor: pointer;

        img {
          width: 100%;
          border-radius: 16px;
          box-shadow: $grayBGshadow;
        }
        .rank {
          position: absolute;
          left: 10%;
          top: -5%;
          width: 40px;
          height: 60px;
          border-radius: 8px 8px 50px 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          color: white;
          font-weight: bold;
        }

        .likeField {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 10px 15px;
          min-width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.7);
          color: white;
          border-radius: 12px 2px 12px 2px;

          p {
            font-size: 1.3rem;
            font-weight: bold;
          }

          .likeBtnBox {
            position: relative;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
            .heartIcon {
              position: absolute;
              font-size: 26px;
              cursor: pointer;
              transition: 0.1s;
            }
            .solidHeart {
              color: rgb(255, 0, 106);
            }
            .regularHeart:hover {
              color: rgb(255, 0, 106);
              transform: scale(1.1);
            }
            .animating {
              animation-name: fillHeart;
              animation-duration: 0.3s;
              animation-fill-mode: forwards;
            }
          }
        }
      }
      &:hover {
        transform: translateY(-8px);
      }
    }
    .b_chartTextBox {
      width: 70vw;
      max-width: 1200px;
      margin-top: 200px;
      & p:nth-of-type(1) {
        font-size: 2.2rem;
        font-weight: bold;
        color: $bascitFtcolor;
        margin-bottom: 5px;
      }
      & p:nth-of-type(2) {
        font-size: 1.4rem;
        font-weight: bold;
        color: $softGRAYFtColor;
      }
    }

    .allChartBox {
      width: 70vw;
      max-width: 1200px;
      height: 50vh;
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      .typeChartBox,
      .styleChartBox {
        width: 45%;
        min-width: 270px;
        height: 100%;
        border-radius: 20px;
        background-color: white;
        box-shadow: $grayBGshadow;
        padding: 50px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        p {
          font-size: 1.5rem;
          font-weight: bold;
          margin-top: 20px;
          position: absolute;
          top: 0;
        }

        canvas {
          min-width: 250px;
          min-height: 250px;
          max-width: 380px;
          max-height: 380px;
        }
      }
    }
    .randomImgBox {
      display: flex;
      width: 70vw;
      height: 50vh;
      flex-wrap: wrap;
      position: relative;
      background-color: white;
      border-radius: 20px;
      box-shadow: $grayBGshadow;
      padding: 30px 20px;

      .imgWrap {
        max-width: 200px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        cursor: pointer;

        img {
          width: 100%;
          border-radius: 16px;
          box-shadow: $grayBGshadow;
        }
      }
      .refreshBtnBox {
        position: absolute;
        top: -6%;
        right: 0;
        display: flex;
        justify-content: center;
        min-width: 100px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.1rem;
        color: $softGRAYFtColor;
        opacity: 0.8;
        transition: 0.2s;
        svg {
          color: $mainColor;
          width: 20px;
          margin-right: 5px;
        }

        &:hover {
          opacity: 1;
        }

        &:active {
          transform: translateY(3px);
        }
      }
    }
    .creator {
      font-size: 1.3rem;
      font-weight: bold;
      margin-top: 10px;
    }

    .otherUserTxtBox {
      width: 70vw;
      max-width: 1200px;
      margin-top: 200px;
      p {
        font-size: 2rem;
        font-weight: bold;
        color: $bascitFtcolor;
      }
      & p:nth-of-type(2) {
        font-size: 1.4rem;
        font-weight: bold;
        color: $softGRAYFtColor;
      }
    }
    .randomImgBox {
      width: 70vw;
      max-width: 1200px;
      margin: 60px auto;
      height: 55vh;
      min-height: 600px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .s_imgBox {
        width: 24%;
        // min-width: 125px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        .imgWrap {
          margin: 0px 15px;
          width: 100%;
          min-width: 125px;
          img {
            width: 100%;
            border-radius: 12px;
            box-shadow: $grayBGshadow;
          }

          .likeField {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 6px 12px;
            min-width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            border-radius: 12px 2px 12px 2px;

            p {
              font-size: 1rem;
              font-weight: bold;
            }

            .likeBtnBox {
              position: relative;
              width: 25px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: 5px;
              .heartIcon {
                position: absolute;
                font-size: 20px;
                cursor: pointer;
                transition: 0.1s;
              }
              .solidHeart {
                color: rgb(255, 0, 106);
              }
              .regularHeart:hover {
                color: rgb(255, 0, 106);
                transform: scale(1.1);
              }
              .animating {
                animation-name: fillHeart;
                animation-duration: 0.3s;
                animation-fill-mode: forwards;
              }
            }
          }
        }
        .creator {
          font-size: 1.1rem;
          font-weight: bold;
          margin-top: 10px;
        }

        &:hover {
          transform: translateY(-8px);
        }
      }
    }
  }
}
.likeField {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 15px;
  min-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 12px 2px 12px 2px;

  p {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .likeBtnBox {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    .heartIcon {
      position: absolute;
      font-size: 26px;
      cursor: pointer;
      transition: 0.1s;
    }
    .solidHeart {
      color: rgb(255, 0, 106);
    }
    .regularHeart:hover {
      color: rgb(255, 0, 106);
      transform: scale(1.1);
    }
    .animating {
      animation-name: fillHeart;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }
  }

  @keyframes fillHeart {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(8deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@include tablet {
  .fullBox {
    .topBox {
      .textBox {
        font-size: 3rem;
        p:nth-of-type(2) {
          font-size: 1.5rem;
          min-width: 310px;
        }
      }
      .imgBox {
        width: 60%;
        height: 70vh;
        justify-content: space-around;
        transform: translateY(5%);
        .topImgBox {
          width: 180px;
          height: 180px;
        }
        div:nth-of-type(1) {
          transform: translate(-20%, 0%);
        }
        div:nth-of-type(2) {
          transform: translate(40%, 0%);
        }
        div:nth-of-type(3) {
          transform: translate(-20%, 0%);
        }
      }
    }
    .bottomBox {
      .b_textBox {
        margin-bottom: 30px;
        p:nth-of-type(1) {
          font-size: 1.8rem;
        }
        p:nth-of-type(2) {
          font-size: 1.3rem;
        }
      }
      .top3ImgBox {
        // width: 50vw;
        .imgBox {
          min-width: 170px;
        }
      }
      .b_chartTextBox {
        margin-top: 100px;
        p:nth-of-type(1) {
          font-size: 1.8rem;
        }
        p:nth-of-type(2) {
          font-size: 1.3rem;
        }
      }
      .allChartBox {
        .styleChartBox {
          min-width: 150px;
          height: 80%;
          div {
            min-width: 150px;
            canvas {
              min-width: 150px;
              max-width: 250px;
            }
          }
        }
        .typeChartBox {
          min-width: 150px;
          height: 80%;
          div {
            min-width: 150px;
            canvas {
              min-width: 150px;
              max-width: 250px;
            }
          }
        }
      }
      .otherUserTxtBox {
        margin-top: 100px;
        p:nth-of-type(1) {
          font-size: 1.8rem;
        }
        p:nth-of-type(2) {
          font-size: 1.3rem;
        }
      }
    }
  }
}
@include mobile {
  .fullBox {
    .topBox {
      .topContentBox {
        flex-direction: column;
        align-items: flex-start;
        max-width: 1400px;
        width: 80vw;
      }
      .textBox {
        font-size: 2.5rem;
        width: 100%;
        p:nth-of-type(2) {
          font-size: 1.2rem;
          min-width: 310px;
        }
      }
      .imgBox {
        width: 100%;
        height: 30vh;
        justify-content: space-around;
        transform: translateY(5%);
        flex-direction: row;
        .topImgBox {
          width: 100px;
          height: 100px;
          margin: 0 10px;
        }
        div:nth-of-type(1) {
          transform: translate(0%, -20%);
        }
        div:nth-of-type(2) {
          transform: translate(0%, 20%);
        }
        div:nth-of-type(3) {
          transform: translate(0%, -20%);
        }
      }
    }
    .bottomBox {
      margin-top: 100px;
      width: 80vw;
      .b_textBox {
        margin-bottom: 0px;
        p:nth-of-type(1) {
          font-size: 1.5rem;
        }
        p:nth-of-type(2) {
          font-size: 1.1rem;
        }
      }
      .top3ImgBox {
        // width: 50vw;
        min-height: 30vh;
        min-height: 300px;
        // max-width: 260px;
        width: 90vw;
        .imgBox {
          min-width: 100px;
          margin: 0 10px;
          &:nth-child(2) {
            transform: scale(1.2);
            .rank {
              background-color: #ff3d6b;
              font-size: 1.4rem !important;
            }
          }
          .imgWrap {
            .rank {
              width: 30px;
              height: 40px;
              font-size: 1.2rem;
            }
            .likeField {
              min-width: 40px;
              padding: 5px 10px;
              p {
                font-size: 0.9rem;
              }
              .likeBtnBox {
                width: 22px;
                height: 22px;
              }
            }
          }
        }
      }
      .b_chartTextBox {
        margin-top: 80px;
        margin-bottom: 30px;
        p:nth-of-type(1) {
          font-size: 1.5rem;
        }
        p:nth-of-type(2) {
          font-size: 1.1rem;
        }
      }
      .allChartBox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        .styleChartBox {
          width: 70%;
          min-width: 150px;
          height: 50%;
          div {
            min-width: 150px;
            canvas {
              min-width: 150px;
              max-width: 200px;
              max-height: 200px;
            }
          }
          p {
            font-size: 1.2rem;
          }
        }
        .typeChartBox {
          width: 70%;
          min-width: 150px;
          height: 50%;
          div {
            min-width: 150px;
            canvas {
              min-width: 150px;
              max-width: 200px;
              max-height: 200px;
            }
          }
          p {
            font-size: 1.2rem;
          }
          margin-bottom: 30px;
        }
      }
      .otherUserTxtBox {
        margin-top: 100px;
        p:nth-of-type(1) {
          font-size: 1.5rem;
        }
        p:nth-of-type(2) {
          font-size: 1rem;
        }
      }
      .creator {
        font-size: 1rem;
      }
      .randomImgBox {
        width: 80vw;
        height: 75vh;
        justify-content: space-around;
        .refreshBtnBox {
          font-size: 1rem;
          svg {
            width: 16px;
          }
        }
        .s_imgBox {
          width: 30%;
          .imgWrap {
            min-width: 80px;
            max-width: 150px;
            .likeField {
              padding: 3px 8px;
              min-width: 55px;
              p {
                font-size: 0.9rem;
              }
              .likeBtnBox {
                width: 20px;
              }
            }
          }
          .creator {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
