@import "../../styles/variable";
.fullBox {
  background-color: white;

  .bottomMainBox {
    background-color: $grayBGColor !important;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    position: relative;
    display: flex;
    padding: 3% 1% !important;

    .b_textBox {
      padding-left: 2%;
    }

    .cardBox {
      width: 100%;
      height: 80%;
      margin: 0 auto;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      //background-color: pink;

      .pagination {
        // transform: translateY(0%);
        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          background-color: #ddd;
          border-radius: 50%;
          margin: 0 10px;
          cursor: pointer;

          &.swiper-pagination-bullet-active {
            background-color: #333;
          }
        }
      }

      .cardContent {
        width: 80%;
        min-width: 185px;
        height: 72.5%;
        margin: 0 auto;
        background-color: white;
        border-radius: 12px;
        margin-top: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: $grayBGshadow;
        cursor: pointer;
        transition: transform 0.2s;
        &:hover {
          transform: translateY(-6px);
        }
        &:active {
          transform: translateY(0px);
        }

        .imgIWrap {
          width: 100%;
          display: flex;
          justify-content: center;

          img {
            border-radius: 12px 12px 0px 0px;
          }
        }

        .typeText {
          font-size: 1.6rem;
          font-weight: bold;
          margin: 20px;
        }
      }
    }

    .completeBtnBox {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-right: 2%;
      button {
        background-color: rgb(192, 190, 190);
        font-size: 1.25rem;
        font-weight: bold;
        color: white;
        height: 38px;
        width: 100px;
        border-radius: 50px;
        cursor: pointer;
        z-index: 100;
        transition: 0.2s;
        &:hover {
          transform: translateY(-2px);
        }

        &:active {
          transform: translateY(0px);
        }
      }
      .activeBtn {
        background-color: $mainColor;
      }
    }
  }
}

.currentSelect {
  outline: 4px solid $mainColor;
}

@include tablet {
  .fullBox {
    .bottomMainBox {
      .cardBox {
        height: 70%;
        .cardContent {
          width: 90%;
          height: 67%;

          .typeText {
            font-size: 1.3rem;
            margin: 0;
            margin-top: 10px;
          }
          .imgIWrap {
            img {
              height: 200px;
            }
          }
        }
      }
    }
  }
}
@include mobile {
  .fullBox {
    .bottomMainBox {
      .cardBox {
        height: 70%;
        .cardContent {
          width: 100%;
          height: 65%;
          min-width: 150px;

          .typeText {
            font-size: 1.2rem;
            margin: 0;
            margin-top: 10px;
          }
          .imgIWrap {
            // min-width: 150px;
            img {
              height: 200px;
            }
          }
        }
      }
    }
  }
}
