@import "../../styles/variable";

.subText {
  font-weight: bold;
  margin-left: 42px;
  color: $moreSoftGRAYFtColor;
}

.selectBox {
  width: 100%;
  //   background-color: rgba(255, 192, 203, 0.103);
  height: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  padding-bottom: 0;

  .word2Box {
    min-width: 380px;
  }
  .word3Box {
    min-width: 530px;
  }
  .word4Box {
    min-width: 640px;
  }
  .sentenceBox {
    // width: 70%;
    max-width: 680px;
    // min-width: 500px;
    height: 60px;
    padding: 0 20px;
    background-color: $mainColor;
    box-shadow: $grayBGshadow;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    .sentenceWrap {
      // width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      //   background-color: pink;
    }

    p {
      font-size: 1.8rem;
      font-weight: bold;
      color: white;
      margin: 0;
      text-align: end;
    }

    svg {
      color: white;
      cursor: pointer;
      font-size: 1.4rem;
      margin-left: 15px;
      opacity: 0.5;
      transition: 0.3s;
      width: 25px;
      height: 25px;

      &:hover {
        opacity: 1;
        transform: scale(1.05);
      }
    }

    .fisrtWord,
    .secondWord,
    .thirdWord,
    .fourthWord {
      display: flex;
      align-items: center;
      margin: 0px 10px;

      .dropdown {
        position: relative;
        margin-left: 5px;
        display: flex;
        align-items: center;
      }

      .dropbtn {
        border-radius: 4px;
        background-color: #f5f5f5;
        font-weight: 400;
        color: rgb(37, 37, 37);
        padding: 3px 6px;
        text-align: left;
        cursor: pointer;
        font-size: 12px;
      }
      .dropdown_content {
        display: none;
        position: absolute;
        top: 105%;
        z-index: 1;
        font-weight: 400;
        background-color: #f9f9f9;
        min-width: 60px;
        border-radius: 6px;
        cursor: pointer;
      }

      .dropdown_content p {
        display: block;
        text-decoration: none;
        color: rgb(37, 37, 37);
        font-size: 1rem;
        padding: 8px 10px;
        text-align: center;
        margin: 0;
      }

      .dropdown_content p:hover {
        background-color: $mainColor;
        color: white;
        border-radius: 6px;
      }

      .dropdown:hover .dropdown_content {
        display: block;
      }
    }

    .fisrtWord,
    .secondWord,
    .thirdWord {
      & p:nth-of-type(1) {
        min-width: 60px;
      }
    }
    .secondWord {
      & p:nth-of-type(1) {
        min-width: 40px;
      }
    }

    .fourthWord {
      min-width: 60px;
    }
  }

  .wordBox {
    width: 100%;
    height: 65%;
    // background-color: rgba(90, 88, 88, 0.301);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
    position: relative;
    .refreshBtnBox {
      position: absolute;
      top: -16%;
      right: 1%;
      display: flex;
      align-items: center;
      cursor: pointer;

      width: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background-color: rgb(211, 211, 211);
        color: white;
        font-weight: bold;
        padding: 3px 8px;
        border-radius: 6px;
        transition: 0.2s;

        &:hover {
          background-color: $mainColor;
          transform: translateY(-1px);
        }

        &:active {
          transform: translateY(1px);
        }
      }

      .disableBtn {
        opacity: 0.5;
        &:hover {
          background-color: rgb(211, 211, 211);
        }
      }
    }

    .wordBtn {
      height: 36px;
      padding: 1% 3%;
      margin: 1%;
      background-color: rgb(209, 209, 209);
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: $grayBGshadow;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        transform: translateY(-2px) !important;
        background-color: $mainColor;
        color: white;
      }

      &:active {
        transform: translateY(0px) !important;
      }

      p {
        width: 100%;
        margin: 0%;
      }
    }
    .selected {
      background-color: $mainColor;
    }
  }

  .completeBtnBox {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      background-color: rgb(192, 190, 190);
      font-size: 1.25rem;
      font-weight: bold;
      color: white;
      height: 38px;
      width: 100px;
      border-radius: 50px;
      margin-right: 1%;
      cursor: pointer;
      z-index: 100;
      transition: 0.2s;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(0px);
      }
    }
    .activeBtn {
      background-color: $mainColor;
    }
  }
}

@include tablet {
  .topBox {
    .textBox {
      .mainTxt {
        font-size: 3rem;
      }
    }
  }

  .selectBox {
    height: 80%;
    .sentenceBox {
      width: 300px;
      max-width: 400px;
      .sentenceWrap {
        p {
          font-size: 1.4rem;
        }
        .fisrtWord,
        .secondWord,
        .thirdWord,
        .fourthWord {
          margin: 0 5px;
        }
      }
      svg {
        margin-left: 8px;
      }
    }
    .word3Box {
      min-width: 450px;
    }
    .word4Box {
      min-width: 530px;
    }
    .wordBox {
      height: 60%;
      .refreshBtnBox {
        // right: -4%;
      }
    }
    .completeBtnBox {
      button {
        width: 100px;
        height: 36px;
        font-size: 1.1rem;
      }
    }
  }
}

@include mobile {
  .topBox {
    .textBox {
      .mainTxt {
        font-size: 3rem;
      }
    }
  }

  .selectBox {
    height: 80%;
    .sentenceBox {
      // width: 300px;
      width: 100%;
      max-width: 400px;
      height: 50px;
      .sentenceWrap {
        p {
          font-size: 1.2rem;
        }
        .fisrtWord,
        .secondWord,
        .thirdWord,
        .fourthWord {
          margin: 0 5px;

          p:nth-of-type(1) {
            min-width: 30px;
          }
          .dropbtn {
            padding: 2px 4px;
            img {
              width: 14px;
              height: 13px;
            }
          }
        }
      }
      svg {
        margin-left: 3px;
        font-size: 1rem;
        width: 20px;
      }
    }
    .word2Box {
      min-width: 280px;
    }
    .word4Box {
      min-width: 370px;
    }
    .word3Box {
      min-width: 200px;
    }
    .wordBox {
      height: 60%;
      .wordBtn {
        font-size: 1rem;
      }
      .refreshBtnBox {
        // right: -4%;
      }
    }
    .completeBtnBox {
      button {
        width: 100px;
        height: 36px;
        font-size: 1.1rem;
      }
    }
  }
}
