@import "../variable";

.section01 {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  p {
    font-size: 2rem;
    margin-top: 32vh;
    font-weight: bold;
  }

  h1 {
    margin-top: 2vh;
    font-size: 4rem;
    font-weight: bold;
  }

  button {
    color: #ffff;
    font-size: 1.75rem;
    margin-top: 3vh;
    background-color: $mainColor;
    width: 210px;
    height: 66px;
    border-radius: 50px;
    font-family: "Pretendard-Regular";
    font-weight: bold;
    word-spacing: 2%;
  }

  .scroll {
    &__down {
      position: absolute;
      margin-top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__mouse {
      position: relative;
      display: inline-block;
      width: 34px;
      height: 54px;
      border: 2px solid #d4d5d9;
      border-radius: 20px;
    }

    &__wheel {
      position: absolute;
      top: 14px;
      left: 13px;
      width: 4px;
      height: 4px;
      background-color: #d4d5d9;
      border-radius: 50%;
      animation: scrollDown 2.5s infinite;
    }
  }

  @keyframes scrollDown {
    0% {
      top: 14px;
      opacity: 0;
    }

    15% {
      top: 14px;
      opacity: 1;
    }

    30% {
      top: 14px;
      opacity: 1;
    }

    45% {
      top: 34px;
      opacity: 1;
    }

    100% {
      top: 34px;
      opacity: 0;
    }
  }
}

.section02 {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  .guideBox {
    max-width: 1200px;
    width: 70vw;
    margin: 0 auto;
    .section_title {
      font-weight: bold;
      margin-top: 24vh;
      font-size: 2.25rem;
      color: #4c9eff;
    }
    .titleBox {
      display: flex;
      margin-top: 2.5vh;
      justify-content: space-between;
      h2 {
        line-height: 120%;
        font-size: 2.9rem;
        font-weight: bold;
      }
      div {
        flex-direction: column;
      }
      .coinGif {
        opacity: 0;
        position: absolute;
        transform: translate(50%, -60%);
        z-index: -1;
        transition: opacity 1s ease-in-out;
      }

      .coinGif img[data-loaded="true"] {
        opacity: 0;
      }
      .guide_detail {
        padding-top: 7%;
        font-size: 1.75rem;
        font-weight: bold;
        color: $softGRAYFtColor;
      }
    }

    .guide_content {
      max-width: 1200px;
      width: 70vw;
      // height: 44vh;
      background-color: #f5f5f5;
      border-radius: 20px;
      margin: 0 auto;
      margin-top: 5%;
      padding: 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: $grayBGshadow;

      .guide_container {
        overflow: hidden; 
        width: 30%;
        // height: 60%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2% 4%;
        box-shadow: $grayBGshadow;
        .imgBox {
          width: 55px;
          height: 55px;
          background-color: #f4f7ff;
          border-radius: 10px;
          align-items: center;
          display: flex;
          justify-content: center;
          margin-bottom: 5%;
        }
        .mission_title {
          font-size: 1.65rem;
          font-weight: bold;
          margin-bottom: 5%;
        }
        .mission_detail {
          font-size: 1.3rem;
          margin-bottom: 5%;
        }
      }
    }
  }
}

.section03 {
  width: 100%;
  height: 100vh;
  .guideBox {
    max-width: 1200px;
    width: 70vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .contentBox {
      width: 50%;
      .section_title {
        font-weight: bold;
        margin-top: 20vh;
        font-size: 2.25rem;
        color: #4c9eff;
      }
      .titleBox {
        margin-top: 2.5vh;
        h2 {
          line-height: 120%;
          font-size: 2.9rem;
          font-weight: bold;
        }

        .guide_detail {
          padding-top: 21vh;
          font-size: 1.75rem;
          font-weight: bold;
          color: $softGRAYFtColor;
        }
      }
    }

    .guide_content {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .guide_container {
        width: 310px;
        height: 332px;
        background-color: #f5f5f5;
        border-radius: 20px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        box-shadow: $grayBGshadow;
      }
    }
  }
}

.section04 {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  .guideBox {
    max-width: 1200px;
    width: 70vw;
    height: 100%;
    margin: 0 auto;
    .contentBox {
      width: 50%;
      .section_title {
        font-weight: bold;
        margin-top: 20vh;
        font-size: 2.25rem;
        color: #4c9eff;
      }
      .titleBox {
        margin-top: 2.5vh;
        h2 {
          line-height: 120%;
          font-size: 2.9rem;
          font-weight: bold;
        }

        .guide_detail {
          padding-top: 21vh;
          font-size: 1.75rem;
          font-weight: bold;
        }
      }
    }

    .guide_content {
      max-width: 1200px;
      width: 70vw;
      margin-top: 13vh;
      .detail_container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 13vh;
        .content {
          display: flex;
          width: 46%;
          .iconBox {
            width: 250px;
            height: 200px;
            background-color: #ffff;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: $grayBGshadow;
            margin-right: 5%;
          }
          .textBox {
            margin-left: 2%;
            padding: 5%;
            .icon_title {
              font-size: 1.75rem;
              font-weight: bold;
              margin-bottom: 3vh;
            }
            p:nth-child(2) {
              font-size: 1.2rem;
            }
          }
        }
      }
      .detail_container02 {
        .content {
          justify-content: space-between;
          .iconBox {
            margin-right: 0;
            order: 1;
          }
          div:nth-child(2) {
            margin-left: 0;
            // margin-right: 2.5vw;
            padding: 5% 5% 5% 0%;
          }
        }
      }
    }
  }
}

.section05 {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  .guideBox {
    max-width: 1200px;
    width: 70vw;
    height: 100%;
    margin: 0 auto;
    .contentBox {
      .section_title {
        font-weight: bold;
        margin-top: 20vh;
        font-size: 2.25rem;
        color: #4c9eff;
      }
      .titleBox {
        margin-top: 2.5vh;
        .title_detail {
          line-height: 120%;
          font-size: 2.9rem;
          font-weight: bold;
        }
      }
    }
    .guide_content {
      max-width: 1200px;
      width: 70vw;
      margin-top: 5%;
      background-color: #f5f5f5;
      border-radius: 20px;
      box-shadow: $grayBGshadow;
      .albumBox {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .album_content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 3%;
        }
      }
    }
  }
}

@include tablet {
  .section02 {
    .guideBox {
      .titleBox {
        align-items: center;
        h2 {
          font-size: 2.2rem;
        }

        div {
          .guide_detail {
            font-size: 1.4rem;
          }
        }
        .coinGif {
          transform: translate(20%, -60%);
        }
      }
      .guide_content {
        padding: 5% 3%;
        .guide_container {
          .mission_title {
            font-size: 1.2rem;
          }
          .mission_detail {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .section03 {
    .guideBox {
      flex-direction: column;
      justify-content: space-evenly;
      .contentBox {
        .section_title {
          margin-top: 10vh;
        }
        .titleBox {
          display: flex;
          width: 70vw;
          max-width: 1200px;
          justify-content: space-between;
          h2 {
            font-size: 2.2rem;
          }
          .guide_detail {
            font-size: 1.4rem;
            padding-top: 0;
          }
        }
      }
    }
  }

  .section04 {
    padding-bottom: 80px;
    .guideBox {
      .contentBox {
        .section_title {
          font-size: 2.2rem;
          margin-top: 10vh;
        }
        .titleBox {
          h2 {
            font-size: 2.2rem;
          }
        }
      }
      .guide_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 8vh;
        .detail_container {
          justify-content: space-between;
          margin-bottom: 3vh;
          .content {
            flex-direction: column;
            .textBox {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              .icon_title {
                font-size: 1.5rem;
                margin-bottom: 1vh;
              }
              p:nth-child(2) {
                font-weight: bold;
              }
            }
            .iconBox {
              width: 200px;
              height: 160px;
              img {
                width: 80px;
                height: 80px;
              }
            }
          }
        }
        .detail_container02 {
          .content {
            flex-direction: column;
            .iconBox {
              order: 0;
            }
            div:nth-child(2) {
              margin-left: 6%;
            }
          }
        }
      }
    }
  }
  .section05 {
    .guideBox {
      .contentBox {
        .section_title {
          margin-top: 15vh;
        }
        .titleBox {
          .title_detail {
            font-size: 2.2rem;
          }
        }
      }
      .guide_content {
        margin-top: 10%;
        .albumBox {
          li:nth-of-type(7),
          li:nth-of-type(8) {
            display: none;
          }
          .album_content {
            img {
              width: 180px;
              height: 180px;
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .section01 {
    padding: 0 5%;
    p {
      font-size: 1.8rem;
    }
    h1 {
      font-size: 3.2rem;
    }
    button {
      font-size: 1.5rem;
      width: 150px;
      height: 50px;
    }
  }
  .section02 {
    .guideBox {
      .section_title {
        margin-top: 5vh;
        font-size: 2rem;
      }
      .titleBox {
        flex-direction: column;
        align-items: flex-start;
        h2 {
          font-size: 1.6rem;
        }

        div {
          .guide_detail {
            font-size: 1rem;
          }
        }
        .coinGif {
          transform: translate(20%, -65%);
        }
      }
      .guide_content {
        padding: 10% 3%;
        flex-direction: column;
        margin-top: 10%;
        .guide_container {
          width: 80%;
          display: flex;
          align-items: center;
          padding: 8%;
          margin-bottom: 10%;
          justify-content: center;
          .mission_title {
            font-size: 1.2rem;
            margin-bottom: 2%;
          }
          .mission_detail {
            font-size: 1rem;
            text-align: center;
            font-weight: bold;
            color: $softGRAYFtColor;
          }
        }
      }
    }
  }
  .section03 {
    .guideBox {
      flex-direction: column;
      justify-content: space-evenly;

      .contentBox {
        .section_title {
          margin-top: 10vh;
          font-size: 2rem;
        }
        .titleBox {
          display: flex;
          flex-direction: column;
          width: 70vw;
          max-width: 1200px;
          justify-content: space-between;
          h2 {
            font-size: 1.6rem;
            margin-bottom: 3%;
          }
          .guide_detail {
            font-size: 1rem;
            padding-top: 0;
          }
        }
      }
      .guide_content {
        .guide_container {
          width: 280px;
          height: 280px;
          overflow: hidden;
          transform: translateX(50%);
        }
      }
    }
  }

  .section04 {
    padding-bottom: 80px;
    .guideBox {
      .contentBox {
        width: 70vw;
        .section_title {
          font-size: 2rem;
          margin-top: 10vh;
        }
        .titleBox {
          width: 100%;
          h2 {
            width: 100%;
            font-size: 1.6rem;
          }
        }
      }
      .guide_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 8vh;
        .detail_container {
          justify-content: space-between;
          margin-bottom: 3vh;
          flex-direction: column;
          .content {
            // flex-direction: column;
            .textBox {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              padding: 0%;
              padding-left: 10px;
              .icon_title {
                font-size: 1.3rem;
                margin-bottom: 1vh;
              }
              p:nth-child(2) {
                font-weight: bold;
                font-size: 1rem;
                color: $bascitFtcolor;
              }
            }
            .iconBox {
              width: 120px;
              height: 120px;
              img {
                width: 60px;
                height: 60px;
              }
            }
          }

          .content:nth-of-type(1) {
            margin-bottom: 30px;
          }
        }
        .detail_container02 {
          .content {
            // flex-direction: column;
            .iconBox {
              order: 0;
            }
            div:nth-child(2) {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
  .section05 {
    .guideBox {
      width: 80vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .contentBox {
        .section_title {
          margin-top: 10vh;
          font-size: 2rem;
        }
        .titleBox {
          .title_detail {
            font-size: 1.6rem;
          }
        }
      }
      .guide_content {
        margin: 0;
        margin-top: 10%;
        width: 80vw;
        .albumBox {
          li:nth-of-type(5),
          li:nth-of-type(6) li:nth-of-type(7),
          li:nth-of-type(8) {
            display: none;
          }
          .album_content {
            img {
              width: 120px;
              height: 120px;
            }
          }
        }
      }
    }
  }
}
