@import "../../styles/variable";
// @import "node_modules/slick-carousel/slick/slick-theme.css";
// @import "node_modules/slick-carousel/slick/slick.css";

.slickPicture{
    margin-bottom: 5%;
}

.slickTitle{
    padding-left:15%;
}