@import "../../styles/variable";

.myalbum_banner {
  width: 100%;
  height: 950px;
  font-family: "Pretendard-Regular";
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .myalbum_phone {
    width: 40%;
    height: 100%;
    margin-top: 15%;
    display: flex;

    .phoneImg01 {
      display: block;
      margin-top: 10%;
      transform: translateY(750px);
      transition: 1.3s;
      opacity: 0;
      width: 40%;
      object-fit: contain;
    }
    .phoneImg02 {
      display: block;
      margin-top: 30%;
      margin-right: 50px;
      transform: translateY(600px);
      transition: 1.8s;
      opacity: 0;
      width: 40%;
      object-fit: contain;
    }
  }
  .myalbum_textbox {
    width: 33%;
    opacity: 0;
    transition: 2.6s;

    > h3 {
      font-size: 4rem;
      font-weight: bold;
      color: $bascitFtcolor;
    }
    > p {
      font-size: 2rem;
      font-weight: 600;
      padding-top: 30px;
      color: #bababa;
      margin-left: 8px;
    }
  }
}
/* ================================================================ */

@include tablet {
  .myalbum_banner {
    width: 100%;
    height: 720px;
    font-family: "Pretendard-Regular";
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .myalbum_phone {
      width: 40%;
      height: 100%;
      margin-top: 15%;
      display: flex;

      .phoneImg01 {
        display: block;
        margin-top: 10%;
        transform: translateY(750px);
        transition: 1.3s;
        opacity: 0;
        width: 40%;
        object-fit: contain;
      }
      .phoneImg02 {
        display: block;
        margin-top: 30%;
        margin-right: 50px;
        transform: translateY(600px);
        transition: 1.8s;
        opacity: 0;
        width: 40%;
        object-fit: contain;
      }
    }
    .myalbum_textbox {
      width: 30%;
      opacity: 0;
      transition: 2.6s;

      > h3 {
        font-size: 3rem;
        font-weight: bold;
        color: $bascitFtcolor;
      }
      > p {
        font-size: 1rem;
        font-weight: 600;
        padding-top: 30px;
        color: #bababa;
        margin-left: 8px;
      }
    }
  }
}

@include mobile {
  .myalbum_banner {
    width: 100%;
    height: 650px;
    font-family: "Pretendard-Regular";
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .myalbum_phone {
      width: 50%;
      height: 100%;
      margin-top: 15%;
      display: flex;
      // align-items: center;
      justify-content: center;

      .phoneImg01 {
        display: block;
        margin-top: 10%;
        transform: translateY(750px);
        transition: 1.3s;
        opacity: 0;
        width: 60%;
        object-fit: contain;
      }
      .phoneImg02 {
        display: none;
        // display: block;
        margin-top: 20%;
        margin-right: 20px;
        transform: translateY(600px);
        transition: 1.8s;
        opacity: 0;
        width: 40%;
        object-fit: contain;
      }
    }
    .myalbum_textbox {
      width: 50%;
      opacity: 0;
      transition: 2.6s;
      > h3 {
        font-size: 2rem;
        font-weight: bold;
        color: $bascitFtcolor;
      }
      > p {
        font-size: 1rem;
        font-weight: 600;
        padding-top: 10px;
        color: #bababa;
        // margin-left: 8px;
      }
    }
  }
}

@include minimobile {
  .myalbum_banner {
    width: 100%;
    height: 500px;
    font-family: "Pretendard-Regular";
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .myalbum_phone {
      width: 40%;
      height: 100%;
      margin-top: 15%;
      display: flex;
      display: none;

      .phoneImg01 {
        display: block;
        margin-top: 10%;
        transform: translateY(750px);
        transition: 1.3s;
        opacity: 0;
        width: 40%;
        object-fit: contain;
      }
      .phoneImg02 {
        display: block;
        margin-top: 20%;
        margin-right: 20px;
        transform: translateY(600px);
        transition: 1.8s;
        opacity: 0;
        width: 40%;
        object-fit: contain;
      }
    }
    .myalbum_textbox {
      width: 100%;
      opacity: 0;
      transition: 2.6s;
      text-align: center;

      > h3 {
        font-size: 2rem;
        font-weight: bold;
        color: $bascitFtcolor;
      }
      > p {
        font-size: 1rem;
        font-weight: 600;
        padding-top: 30px;
        color: #bababa;
        margin-left: 8px;
      }
    }
  }
}
