@import "../../styles/variable";

.myalbumCategory {
  width: 100%;
  background-color: #f7f7f7;
  height: 120px;
  font-family: "Pretendard-Regular";

  .Category_box {
    width: 63%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    > li {
      cursor: pointer;
      width: 12%;
      height: 50px;
      background: #fff;
      box-shadow: $grayBGshadow;
      border-radius: 20px;
      text-align: center;
      line-height: 50px;
      color: #8e8b8b;
      font-weight: bold;
    }
  }
}
/* ================================================================ */

@include tablet {
  .myalbumCategory {
    width: 100%;
    background-color: #f7f7f7;
    height: 120px;
    font-family: "Pretendard-Regular";

    .Category_box {
      width: 63%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center;
      > li {
        cursor: pointer;
        width: 14.5%;
        height: 50px;
        background: #fff;
        box-shadow: $grayBGshadow;
        border-radius: 20px;
        text-align: center;
        line-height: 50px;
        color: #8e8b8b;
        font-weight: bold;
        font-size: 0.8rem;
      }
    }
  }
}

@include mobile {
  .myalbumCategory {
    width: 100%;
    background-color: #f7f7f7;
    height: 200px;
    font-family: "Pretendard-Regular";

    .Category_box {
      width: 63%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      list-style: none;
      gap: 5%;
      align-items: center;
      flex-wrap: wrap;
      > li {
        cursor: pointer;
        width: 25%;
        height: 50px;
        background: #fff;
        box-shadow: $grayBGshadow;
        border-radius: 20px;
        text-align: center;
        line-height: 50px;
        color: #8e8b8b;
        font-weight: bold;
        font-size: 0.6rem;
      }
    }
  }
}

@include minimobile {
  .myalbumCategory {
    width: 100%;
    background-color: #f7f7f7;
    height: 150px;
    font-family: "Pretendard-Regular";

    .Category_box {
      width: 63%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      list-style: none;
      gap: 1%;
      align-items: center;
      flex-wrap: wrap;
      > li {
        cursor: pointer;
        width: 30%;
        height: 50px;
        background: #fff;
        box-shadow: $grayBGshadow;
        border-radius: 20px;
        text-align: center;
        line-height: 50px;
        color: #8e8b8b;
        font-weight: bold;
        font-size: 0.6rem;
      }
    }
  }
}
