@import "../variable";

.missionMotionBox {
  max-width: 1200px;
  width: 70vw;
  height: 700px;
  background-color: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  .timeBox {
    font-size: 2.8rem;
    font-weight: bold;
    color: $mainColor;
    letter-spacing: 2px;
  }
  .textBox {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    & p:nth-of-type(1) {
      font-size: 2.1rem;
      color: $bascitFtcolor;
    }
    & p:nth-of-type(2) {
      font-size: 1.3rem;
      color: $mainColor;
    }
  }
  .missionBox {
    width: 75%;
    height: 400px;
    background-color: rgb(29, 29, 29);
    border-radius: 20px;
    margin-top: 30px;
    position: relative;

    div {
      background: white;
      border-radius: 30px;
      width: 150px;
      height: 150px;
      position: absolute;
      top: calc(50% - 150px / 2);
      left: calc(50% - 150px / 2);
      z-index: 1;
      cursor: pointer;
      &:active {
        background-color: rgb(189, 223, 252);
      }
    }

    img {
      position: absolute;
      top: calc(50% - 150px / 2);
      left: calc(50% - 150px / 2);
      transform: translate(50%, 50%);
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: translate(50%, 50%) scale(1.1);
      }
    }
  }
}
.missionClickCount {
  max-width: 1200px;
  width: 70vw;
  height: 700px;
  background-color: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  transition: 0.5s;
  .timeBox {
    font-size: 2.8rem;
    font-weight: bold;
    color: $mainColor;
    letter-spacing: 2px;
  }
  .textBox {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    & p:nth-of-type(1) {
      font-size: 2.1rem;
      color: $bascitFtcolor;
    }
    & p:nth-of-type(2) {
      font-size: 1.3rem;
      color: $mainColor;
    }
  }
  .goalBox {
    margin-top: 60px;
    p {
      font-size: 2rem;
      color: $bascitFtcolor;
      font-weight: bold;
    }
  }

  .missionBox {
    width: 300px;
    height: 300px;
    background-color: $mainColor;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: $grayBGshadow;

    p {
      font-size: 5rem;
      font-weight: bold;
      color: white;
    }
    &.boxAniOn {
      animation: shakeBox 0.4s linear forwards;
    }
    @keyframes shakeBox {
      0% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(-20px);
      }
    }
  }
  &.bgOn {
    animation: complete 12s linear infinite;
    transition: background-color 3s ease-in-out;
  }
  @keyframes complete {
    0% {
      background-color: #f79bc1;
    }
    25% {
      background-color: #ffca8d;
    }
    50% {
      background-color: #c2e092;
    }
    75% {
      background-color: #92d0e0;
    }
    100% {
      background-color: #be9bf7;
    }
  }
}
.missionTypeWithKeyBoard {
  max-width: 1200px;
  width: 70vw;
  height: 700px;
  background-color: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  transition: 0.5s;
  .timeBox {
    font-size: 2.8rem;
    font-weight: bold;
    color: $mainColor;
    letter-spacing: 2px;
  }
  .textBox {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    & p:nth-of-type(1) {
      font-size: 2.1rem;
      color: $bascitFtcolor;
    }
    & p:nth-of-type(2) {
      font-size: 1.3rem;
      color: $mainColor;
    }
  }
  .goalBox {
    margin-top: 60px;
    background-color: $mainColor;
    padding: 5px 20px;
    border-radius: 16px;
    box-shadow: $grayBGshadow;
    p {
      font-size: 2rem;
      color: white;
      font-weight: bold;
    }
  }
  .inputBox {
    margin-top: 100px;
    width: 60%;
    position: relative;
    min-width: 300px;

    form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        background-color: transparent;
        width: 100%;
        max-width: 500px;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 5px 10px 10px 5px;
        display: block;
        border: none;
        color: $bascitFtcolor;
        border-bottom: 3px solid rgb(209, 209, 209);
        position: relative;
        &:focus {
          outline: none;
        }
      }
      .highlight {
        position: absolute;
        border-radius: 3px;
        bottom: 0px;
        left: 0;
        width: 0%;
        height: 3px;
        background-color: $mainColor;
        animation: 1s hightlightOn forwards;
      }
      @keyframes hightlightOn {
        0% {
          width: 0%;
          left: 0;
        }
        100% {
          width: 100%;
          left: 0;
        }
      }
      .shake {
        animation: 0.3s shakeOn ease-in-out;
      }
      @keyframes shakeOn {
        0% {
          transform: translateX(0);
        }
        20% {
          transform: translateX(-10px);
        }
        40% {
          transform: translateX(10px);
        }
        60% {
          transform: translateX(-10px);
        }
        80% {
          transform: translateX(10px);
        }
        100% {
          transform: translateX(0);
        }
      }
    }
  }
}

.mainSection {
  max-width: 1200px;
  width: 70%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .description_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    .description {
      h1 {
        font-size: 3.125rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 70px;
      }
      p {
        font-size: 1.75rem;
        font-weight: 500;
        color: $softGRAYFtColor;
      }
    }
  }
  .alert {
    color: $softGRAYFtColor;
    margin-top: 14vh;
    margin-bottom: 2vh;
    animation: blink-effect 2s ease-in-out infinite;
    // animation: moving 1s ease-in-out infinite;
  }
  button {
    color: #ffff;
    font-size: 1.75rem;
    background-color: $mainColor;
    width: 210px;
    height: 66px;
    border-radius: 50px;
    font-family: "Pretendard-Regular";
    font-weight: bold;
    word-spacing: 0.1rem;
  }

  @keyframes blink-effect {
    50% {
      // color: $mainColor;
      opacity: 0;
    }
  }
  // @keyframes moving {
  //   0%{
  //     translateY: 0%;
  //   }
  //   50%{
  //     translateY: -30%;
  //   }
  //   100%{
  //     translateY: 0%;
  //   }
  // }
}

.modalWrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(40, 40, 40, 0.6);
  z-index: 9100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
  .missionModal {
    z-index: 9999;
    max-width: 1200px;
    width: 70%;
    height: 700px;
    background-color: #ffff;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.15));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // .missionResult {
    //     position:absolute;
    //     bottom: 30%;
    //     background-color: $skyBlueColor;
    //     cursor: pointer;
    //     left: 50%;
    //     transform: translateX(-50%     );
    //     padding: 1%
    // }
  }
}

.confettiBox {
  position: absolute;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  z-index: -9999;
}

.missionSuccess {
  max-width: 1200px;
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .slogan {
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 4%;
  }
  .reward {
    font-size: 1.875rem;
    font-weight: 600;
    span {
      color: $mainColor;
      font-weight: bold;
      padding: 10px;
    }
  }
  button {
    background-color: #2288ff;
    color: #fff;
    font-size: 1.375rem;
    width: 270px;
    height: 66px;
    border-radius: 50px;
    font-family: "Pretendard-Regular";
    font-weight: bold;
    word-spacing: 0.1rem;
    cursor: pointer;
  }
}

.missionRetry {
  max-width: 1200px;
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .slogan {
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 4%;
  }
  button {
    margin-top: 4%;
    background-color: #2288ff;
    color: #fff;
    font-size: 1.375rem;
    width: 270px;
    height: 66px;
    border-radius: 50px;
    font-family: "Pretendard-Regular";
    font-weight: bold;
    word-spacing: 0.1rem;
  }
}

.missionEnd {
  max-width: 1200px;
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .slogan {
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 4%;
  }
  .end_message {
    font-size: 1.875rem;
    font-weight: 400;
    margin-bottom: 2%;
  }
  button {
    margin-top: 4%;
    background-color: #2288ff;
    color: #fff;
    font-size: 1.375rem;
    width: 270px;
    height: 66px;
    border-radius: 50px;
    font-family: "Pretendard-Regular";
    font-weight: bold;
    word-spacing: 0.1rem;
  }
}

.missionTreeBox {
  width: 70%;
  height: 90%;
  .timer {
    font-size: 2.8rem;
    font-weight: bold;
    color: $mainColor;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 7%;
  }
  .quizBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .imgBox {
      width: 50%;
      align-items: center;
    }
    .quiz {
      width: 50%;
      flex-direction: column;
      .title {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2%;
      }
      .detail {
        color: $mainColor;
        font-size: 1.5625rem;
        margin-bottom: 10%;
      }
    }
    .formBox {
      width: 80%;
      margin: 0 auto;
      border-bottom: 2px solid gray;
      input {
        margin-bottom: 3%;
        text-align: center;
      }
      input:focus {
        outline: none;
      }
    }
  }
}

.missionDiaryBox {
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .titleBox {
    display: flex;
    h2 {
      font-size: 2.5rem;
      font-weight: 800;
      margin-bottom: 2%;
    }
    img {
      margin-left: 3%;
    }
  }
  p {
    font-size: 1.875rem;
    color: $mainColor;
    margin-bottom: 10%;
  }
  .formBox {
    width: 70%;
    margin: 0 auto;
    border-bottom: 2px solid gray;
    form {
      display: flex;
      input {
        cursor: pointer;
        width: 95%;
        text-align: center;
        font-size: 1.25rem;
        margin: 1%;
      }
      input:focus {
        outline: none;
      }
    }
  }
  .formBox:focus-within {
    border-bottom: 2px solid $mainColor;
  }
}

.missionCoinBox {
  width: 60%;
  height: 100%;
  text-align: center;
  > h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 20%;
  }
  > p {
    margin-top: 1%;
    font-size: 1.875rem;
    color: $mainColor;
    margin-bottom: 10%;
    font-weight: bold;
  }
  .missionCoinBox_item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    > li {
      width: 26%;
      height: 180px;
      background-color: #e2e8ee;
      border-radius: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        transition: 0.5s;
        transform: translateY(-10px);
        background-color: #be9bf7;
      }

      > img {
        transition: 0.5s ease-in;
      }
      .img_ative {
        opacity: 0;
      }
      > p {
        color: #020202;
        font-size: 1.6rem;
        opacity: 0;
        z-index: -1;
        position: absolute;
        font-weight: bold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition-delay: 0.5s;
      }
      .name_ative {
        z-index: 3;
        opacity: 1;
      }
    }
  }
}

.missionCatchBox {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .timer {
      margin-top: 3%;
      font-size: 2.8rem;
      font-weight: bold;
      color: $mainColor;
      letter-spacing: 2px;
      text-align: center;
      margin-bottom: 2%;
    }
    .titleBox {
      text-align: center;
      .title {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2%;
      }
      .detail {
        color: $mainColor;
        font-size: 1.5625rem;
        margin-bottom: 20%;
      }
      .guide {
        color: $bascitFtcolor;
        font-weight: 200;
        animation: blink-effect-more 2s ease-in-out infinite;
        margin-bottom: 5%;
      }

      @keyframes blink-effect-more {
        50% {
          color: $softGRAYFtColor;
        }
      }
    }
  }
  .canvas {
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    width: 95%;
    height: 50%;
    background-color: #1d1d1d;
    img {
      cursor: pointer;
    }
  }
}

@include tablet {
  .mainSection {
    .description_container {
      flex-direction: column;
      .description {
        h1 {
          font-size: 2rem;
          text-align: center;
          margin-bottom: 10%;
          line-height: 1.2;
        }
        p {
          font-size: 1.2rem;
          text-align: center;
          margin-bottom: 10%;
          color: $softGRAYFtColor;
        }
      }
      .example {
        .exampleImg {
          width: 100%;
          height: 45%;
        }
      }
    }
    .alert {
      margin-top: 10vh;
    }
    button {
      font-size: 1.2rem;
      width: 180px;
      height: 50px;
    }
  }

  .missionSuccess {
    .slogan {
      text-align: center;
    }
    .reward {
      font-size: 1.3rem;
    }
  }

  .missionRetry {
    .slogan {
      font-size: 2.5rem;
      text-align: center;
    }

    button {
      margin-top: 10%;
    }
  }

  .missionEnd {
    .slogan {
      font-size: 2.5rem;
    }
  }

  .missionCoinBox {
    width: 70%;
    > p {
      margin-bottom: 20%;
    }
    .missionCoinBox_item {
      li {
        width: 30%;
        height: 150px;
      }
    }
  }

  .missionDiaryBox {
    .titleBox {
      h2 {
        font-size: 2rem;
      }
      .bookIcon {
        width: 50px;
        height: 54px;
      }
    }
    p {
      font-size: 1.4rem;
    }
  }

  .missionTreeBox {
    width: 80%;
    .quizBox {
      margin-top: 20%;
      justify-content: space-between;
      .quiz {
        padding: 5%;
        .title {
          font-size: 1.8rem;
        }
        .detail {
          font-size: 1.1rem;
          overflow-wrap: anywear;
        }
        .formBox {
          width: 90%;
          form {
            input {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .mainSection {
    .description_container {
      flex-direction: column;
      .description {
        h1 {
          font-size: 2rem;
          text-align: center;
          margin-bottom: 10%;
          line-height: 1.2;
        }
        p {
          font-size: 1.2rem;
          text-align: center;
          margin-bottom: 10%;
          color: $softGRAYFtColor;
        }
      }
      .example {
        .exampleImg {
          width: 100%;
          height: 45%;
        }
      }
    }
    .alert {
      margin-top: 10vh;
    }
    button {
      font-size: 1.2rem;
      width: 180px;
      height: 50px;
    }
  }

  .missionSuccess {
    .slogan {
      font-size: 2.2rem;
      text-align: center;
    }
    .reward {
      font-size: 1.3rem;
    }

    button {
      width: 250px;
    }
  }

  .missionRetry {
    .slogan {
      font-size: 2.2rem;
      text-align: center;
    }

    button {
      margin-top: 20%;
      width: 250px;
    }
  }

  .missionEnd {
    .slogan {
      font-size: 2rem;
    }
    .end_message {
      font-size: 1.6rem;
    }
  }

  .missionCatchBox {
    .canvas {
      height: 60%;
    }
  }

  .missionCoinBox {
    > h2 {
      font-size: 2rem;
    }
    > p {
      font-size: 1rem;
      margin-bottom: 15%;
    }
    .missionCoinBox_item {
      flex-direction: column;
      li {
        justify-content: center;
        width: 100%;
        height: 160px;
        margin-bottom: 5%;
        border-radius: 20px;
      }
    }
  }

  .missionDiaryBox {
    padding: 10%;
    overflow-wrap: anywhere;
    .titleBox {
      h2 {
        font-size: 1.2rem;
      }
      .bookIcon {
        width: 28px;
        height: 32px;
      }
    }
    p {
      font-size: 1rem;
    }
    .formBox {
      margin-top: 30%;
      width: 100%;
      input {
        font-size: 1.2rem;
        height: 150px;
      }
    }
  }

  .missionTreeBox {
    .quizBox {
      margin-top: 10%;
      flex-direction: column;
      .imgBox {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .quiz {
        width: 100%;
        margin-top: 5%;
        .title {
          font-size: 1.5rem;
        }
        .detail {
          font-size: 1rem;
          overflow-wrap: anywear;
        }
        .formBox {
          width: 90%;
          form {
            input {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  .missionMotionBox {
    .textBox {
      & p:nth-of-type(1) {
        font-size: 1.5rem;
        color: $bascitFtcolor;
      }
      & p:nth-of-type(2) {
        font-size: 0.8rem;
        color: $mainColor;
      }
    }
    .missionBox {
      > div {
        width: 100px;
        height: 100px;
      }
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
  .missionClickCount {
    max-width: 1200px;
    width: 70vw;
    height: 700px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    transition: 0.5s;
    .timeBox {
    }
    .textBox {
      font-weight: bold;
      display: flex;
      flex-direction: column;
      align-items: center;
      & p:nth-of-type(1) {
        font-size: 1.5rem;
        color: $bascitFtcolor;
      }
      & p:nth-of-type(2) {
        font-size: 0.8rem;
        color: $mainColor;
      }
    }
    .goalBox {
      margin-top: 60px;
      p {
        font-size: 2rem;
        color: $bascitFtcolor;
        font-weight: bold;
      }
    }

    .missionBox {
      width: 250px;
      height: 250px;
      background-color: $mainColor;
      border-radius: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: $grayBGshadow;

      p {
        font-size: 5rem;
        font-weight: bold;
        color: white;
      }
      &.boxAniOn {
        animation: shakeBox 0.4s linear forwards;
      }
      @keyframes shakeBox {
        0% {
          transform: translateY(0);
        }

        100% {
          transform: translateY(-20px);
        }
      }
    }
    &.bgOn {
      animation: complete 12s linear infinite;
      transition: background-color 3s ease-in-out;
    }
    @keyframes complete {
      0% {
        background-color: #f79bc1;
      }
      25% {
        background-color: #ffca8d;
      }
      50% {
        background-color: #c2e092;
      }
      75% {
        background-color: #92d0e0;
      }
      100% {
        background-color: #be9bf7;
      }
    }
  }
}

@include minimobile {
  .modalWrapper {
    .missionModal {
      height: 400px;
    }
  }
  .missionMotionBox {
    padding: 0;
    height: 350px;
    .timeBox {
      font-size: 1.6rem;
    }
    .textBox {
      & p:nth-of-type(1) {
        font-size: 1.3rem;
        color: $bascitFtcolor;
      }
      & p:nth-of-type(2) {
        font-size: 0.6rem;
        color: $mainColor;
      }
    }
    .missionBox {
      height: 200px;
      > div {
        width: 50px;
        height: 50px;
        border-radius: 10px;
      }
      img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
      }
    }
  }
  .missionClickCount {
    max-width: 1200px;
    width: 70vw;
    height: 350px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    transition: 0.5s;
    .timeBox {
      font-size: 1.6rem;
    }
    .textBox {
      font-weight: bold;
      display: flex;
      flex-direction: column;
      align-items: center;
      & p:nth-of-type(1) {
        font-size: 1.3rem;
        color: $bascitFtcolor;
      }
      & p:nth-of-type(2) {
        text-align: center;
        font-size: 0.8rem;
        color: $mainColor;
      }
    }
    .goalBox {
      margin-top: 10px;
      p {
        font-size: 1rem;
        color: $bascitFtcolor;
        font-weight: bold;
      }
    }

    .missionBox {
      width: 150px;
      height: 150px;
      background-color: $mainColor;
      border-radius: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: $grayBGshadow;

      p {
        font-size: 2.5rem;
        font-weight: bold;
        color: white;
      }
      &.boxAniOn {
        animation: shakeBox 0.4s linear forwards;
        width: 150px;
        height: 150px;
      }
      @keyframes shakeBox {
        0% {
          transform: translateY(0);
        }

        100% {
          transform: translateY(-20px);
        }
      }
    }
    &.bgOn {
      animation: complete 12s linear infinite;
      transition: background-color 3s ease-in-out;
    }
    @keyframes complete {
      0% {
        background-color: #f79bc1;
      }
      25% {
        background-color: #ffca8d;
      }
      50% {
        background-color: #c2e092;
      }
      75% {
        background-color: #92d0e0;
      }
      100% {
        background-color: #be9bf7;
      }
    }
  }
}

/* 데스크톱 화면에서는 input 요소 보여주기 */
@media (min-width: 768px) {
  .input_container {
    display: block;
  }
  .textarea_container {
    display: none;
  }
}

/* 모바일 기기에서는 textarea 요소 보여주기 */
@media (max-width: 767px) {
  .input_container {
    display: none;
  }
  .textarea_container {
    display: block;
    width: 90%;
    resize: none;
    height: 100px;
    padding: 2%;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
