$mainColor: #2288ff;
$bascitFtcolor: #3b3d3f;
$softGRAYFtColor: #727375;
$moreSoftGRAYFtColor: #a3a4a7;
$grayBGColor: #f1f1f1;
$skyBlueColor: #e6f6ff;
$grayBGshadow: 0 1px 2px rgba(145, 145, 145, 0.05),
0 2px 4px rgba(145, 145, 145, 0.05), 0 3px 6px rgba(145, 145, 145, 0.05),
0 6px 12px rgba(145, 145, 145, 0.05), 0 12px 24px rgba(145, 145, 145, 0.05),
0 20px 40px rgba(145, 145, 145, 0.05);

