@import "../styles/variable";

.layout {
  position: relative;
  width: 100%;
  //   background-color: rgb(190, 190, 190);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.headerBox {
  z-index:9000;
  width: 100%;
  font-family: "Pretendard-Regular";
  color: $bascitFtcolor;
  position: fixed;
  .headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 1% 0%;
    max-width: 1200px;
    width: 70vw;
    height: 100%;
    margin: 0 auto;
    .header_leftBox {
      cursor: pointer;
      display: flex;
      width: 20vw;
      p {
        align-items: center;
        display: flex;
        font-weight: bold;
        font-size: 1.3rem;
        cursor: pointer;   
      }
    }
  
    .header_rightBox {
      display: flex;
      width: 50%;
      justify-content: flex-end;
      align-items: center;
      font-weight: bold;
      p {
        cursor: pointer;
        margin-left: 3%;
        position: relative;
        padding: 0.8% 3.5%;
      }
      .selectedPage{
        font-weight: bold;
        &::after{
          content: "";
          display: block;
          min-width: 50px;
          width: 100%;
          height: 100%;
          z-index: -1;
          top: 0px;
          left: 0px;
          position: absolute;
          border-radius: 24px;
          background-color: #E2E8EE; 
        }
      }
    }
  }
}


.footerBox{
  bottom: 0;
  width: 100%;
  height: 31vh;
  background-color: #2D3747;
  color: #fff;
  .footerContainer{
    max-width: 1200px;
    width: 70vw;
    margin: 0 auto;
    padding-top: 6vh;
      .footer_title {
        font-weight: bold;
        font-size: 1.1rem;
      }
  
      .footer_detail {
        margin-top: 2%;
        p {
          color: #bdb5b5;
          a {
            text-decoration: underline;
          }
        }
      }
  }
}