@charset "UTF-8";
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
.layout {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.headerBox {
  z-index: 9000;
  width: 100%;
  font-family: "Pretendard-Regular";
  color: #3b3d3f;
  position: fixed;
}
.headerBox .headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0%;
  max-width: 1200px;
  width: 70vw;
  height: 100%;
  margin: 0 auto;
}
.headerBox .headerContainer .header_leftBox {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.headerBox .headerContainer .header_leftBox p {
  display: block;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}
.headerBox .headerContainer .header_rightBox {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  height: 40px;
}
.headerBox .headerContainer .header_rightBox p {
  position: relative;
  cursor: pointer;
  margin-left: 3%;
  padding: 0.8% 3.5%;
}
.headerBox .headerContainer .header_rightBox .profileWrap {
  position: relative;
  cursor: pointer;
  margin-left: 3%;
  padding: 0.8% 3.5%;
  min-width: 70px;
  display: flex;
  justify-content: center;
}
.headerBox .headerContainer .header_rightBox .profileWrap .myInfoDiv {
  width: 160px;
  height: 190px;
  padding-top: 10px;
  position: absolute;
  top: 110%;
  left: 0%;
  border-radius: 16px;
  background-color: white;
  box-shadow: 5px 5px 15px rgb(192, 192, 192);
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transform: translateY(-8px);
  transform-origin: 100% 0%;
  opacity: 0;
}
.headerBox .headerContainer .header_rightBox .profileWrap .myInfoDiv hr {
  width: 80%;
  height: 2px;
  background-color: rgb(238, 238, 238);
  margin: 5px 0 8px 0;
  border: 0;
}
.headerBox .headerContainer .header_rightBox .profileWrap .myInfoDiv div {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.headerBox .headerContainer .header_rightBox .profileWrap .myInfoDiv div:last-child p {
  opacity: 0.5;
  transition: 0.2s;
}
.headerBox .headerContainer .header_rightBox .profileWrap .myInfoDiv div:last-child:hover p {
  opacity: 1;
}
.headerBox .headerContainer .header_rightBox .profileWrap:hover .myInfoDiv {
  transform: translateY(0px);
  opacity: 1;
}
.headerBox .headerContainer .header_rightBox .profileWrap:hover .profileImg {
  transition: 0.5s;
  transform: scale(1.1);
}
.headerBox .headerContainer .header_rightBox .selectedPage {
  font-weight: bold;
}
.headerBox .headerContainer .header_rightBox .selectedPage::after {
  content: "";
  display: block;
  min-width: 50px;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0px;
  left: 0px;
  position: absolute;
  border-radius: 24px;
  background-color: #d6ecf8;
}

.footerBox {
  bottom: 0;
  width: 100%;
  height: 31vh;
  background-color: #2d3747;
  color: #fff;
}
.footerBox .footerContainer {
  max-width: 1200px;
  width: 70vw;
  margin: 0 auto;
  padding-top: 6vh;
}
.footerBox .footerContainer .footer_title {
  font-weight: bold;
  font-size: 1.1rem;
}
.footerBox .footerContainer .footer_detail {
  margin-top: 2%;
}
.footerBox .footerContainer .footer_detail p {
  color: #bdb5b5;
}
.footerBox .footerContainer .footer_detail p a {
  text-decoration: underline;
}/*# sourceMappingURL=common.module.css.map */