@import "../styles/variable";

.layout {
  width: 100vw;
  //   background-color: rgb(190, 190, 190);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerBox {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  padding: 1% 0%;
  font-family: "Pretendard-Regular";
  color: $bascitFtcolor;
  position: fixed;
  .header_leftBox {
    display: flex;
    width: 20vw;
    p:first-child {
      width: 30px;
      height: 30px;
      background-color: $mainColor;
      border-radius: 50%;
      margin-right: 3%;
    }
    p {
      font-weight: bold;
      font-size: 1.3rem;
      cursor: pointer;
    }
  }
  
  .header_rightBox {
    display: flex;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    p {
      cursor: pointer;
      margin-left: 5%;
      // position: relative;
      // &:hover{
      //   ::after{
      //     position: inherit;
      //     z-index: 1;
      //     content: "";
      //     width: 100%;
      //     height: 100%;
      //     padding: 2px 8px;
      //     background-color: #E2E8EE;
      //   }
      }
    }
  }


.footerBox{
  position: relative;
  bottom: 0;
  // position : relative;
  // transform : translateY(-100%);
  width: 100vw;
  height: 360px;
  background-color: $bascitFtcolor;
  color: #fff;
  padding: 4% 15vw;
  
  .footer_title{
    font-weight: bold;
    font-size: 1.1rem;
  }

  .footer_detail{
    margin-top: 2%;
    p{
      color: #BDB5B5;
      a{
        text-decoration: underline;
      }
    }
  }

}

